.business-list-page-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.business-list-page {
  width: 50%;
}

.business-list {
  display: flex;
  flex-direction: row;
  margin: 24px;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  width: 60%;
  padding: 24px;
}

.business-list:hover {
  transition: box-shadow .3s;
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #eeeeef;
}

.title-container {
  display: flex;
  font-size: 20px;
  color: #2B273C;
  text-align: left;
  font-weight: bold;
}

.business-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.business-info-container > * {
  margin: 4px 0px;
}

.business-list-tag-container {
  display: flex;
}

.business-list-tags {
  background-color: rgb(241, 241, 241);
  color: #757280;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  vertical-align: top;
  text-align: left;
  padding: 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.business-list-tags:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(225, 225, 225);
  transition: background-color .2s ease;
}

.image-container {
  height: 220px;
  width: 220px;
  margin-right: 12px;
}

.business-images {
  width: 220px;
  height: 220px;
  border-radius: 4px;
}

.business-list-name:hover {
  text-decoration: underline;
}

.business-card-rating {
  display: flex;
  align-items: center;
}

.business-card-stars {
  margin-right: 6px;
}

.business-card-reviews {
  color: rgba(117,114,128,1);
  font-size: 14px;
  font-weight: normal;
}

.maps-container {
  width: 500px;
  height: 800px;
  // position: absolute;
  z-index: 3;
}

.business-index {
  display: flex;
}