@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;900&display=swap');
$roboto: 'Roboto', sans-serif;

// .homepage-hero {
//   display: flex;
//   height: 600px;
//   font-family: $roboto;
// }

// .header-nav {
//   display: flex;
//   justify-content: space-around;
//   width: 100%;
//   height: 36px;
// }

// .header-links {
//   display: flex;
//   justify-content: space-between;
//   height: 36px;
// }

// .header-account-links {
//   justify-content: flex-end;
//   height: 36px;
// }

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-header {
  display: flex;
  position: relative;
  top: 10px;
  justify-content: space-between;
  width: 100%;
  span a {
    margin: 0 10px;
  }
  a {
    font-family: $roboto;
    font-size: 32px;
    color: #FFFFFF;
  }
}

.homepage-hero {
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/884c12b285fc/assets/img/home/hero_photos/TdClV4QlpucjFX4GdPc2QQ.jpg);
  background-position: 50%;
  background-size: cover;
  padding-top: 30px;
  width: 100%;
  height: 570px;
}

.search-icon {
  cursor: pointer;
  font-weight: 400;
}

.main-search-bar {
  display: flex;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    input {
      font-size: 18px;
      outline: 0;
    }
    span {
      padding-right: 4px;
      padding-left: 4px;
      p {
     
        font-size: 18px;
        color: #666666;
      }
    }
  }
  background: white;
  margin-top: 15px;
  width: 980px;
  height: 45px;
  align-items: center;
  border-radius: 4px;
  input {
    border: none;
  }
  button {
    display: flex;
    height: 45px;
    width: 60px;
    border: none;
    background-color: #D32323;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
