.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.main-logo {

  img {
    width: 220px;
    height: 80px;
    object-fit: cover;
  }
}

.nav-search-bar {
  display: flex;
  background: white;
  margin-top: 15px;
  width: 58%;
  height: 45px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 4px #eeeeef;
  input {
    border: none;
  }
  button {
    display: flex;
    height: 45px;
    width: 60px;
    border: none;
    background-color: #D32323;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.find-input-wrapper {
  display: flex;
  align-items: center;
  width: 480px;
  height: 90%;
  span {
    margin-left: 5px;
  }
  input {
    height: 100%;
    width: 100%;
  }
}

.near-input-wrapper {
  display: flex;
  width: 440px;
  height: 90%;
  input {
    width: 100%;
  }
  span {
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    p {
      margin-left: 5px;
    }
  }
}

.search-icon {
  color: white;
  font-size: 20px;
}

.homepage-hero {
  display: flex;
  justify-content: center;
  padding: 0;
}

.y-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 990px;
}

.search-nav-bar-container {
  border-bottom: 1px solid #eeeeef;
  position: sticky;
  top: 0;
  z-index: 4;
  margin-bottom: -4px;
}

.navbar-log-in {
  font-family: $open-sans;
  font-size: 16px;
  border: 1px solid rgba(187, 186, 192, 1);
  color: rgba(43, 39, 60, 1);
  padding: 8px 16px;
  display: inline-flex;
  justify-content: center;
  height: 40px;
  width: auto;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  line-height: 22px;
  font-weight: 600;
  background-color: transparent;
}

.navbar-log-in:hover {
  cursor: pointer;
  transition: all 0.8s;
  background-color: rgba(0,0,0,0.12);
  box-shadow: none;
}

.navbar-signup-button {
  background-color: #F43939;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 16px;
  margin: 9px 0px 7px 12px;
  font-family: $open-sans;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  line-height: 22px;
  border-radius: 4px;
  border: none;
}

.navbar-signup-button:hover {
  cursor: pointer;
}

.navbar-login-signup {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-linkedin-icon {
  margin-right: 12px;
  color: #757280;
}

.navbar-github-icon {
  margin-right: 12px;
  color: #757280;
}

.navbar-header-group {
  display: flex;
  align-items: center;
}