.session-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $roboto;
}

.session-nav {
  display: flex;
  width: 100%;
  background-color: #D32323;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.main-content {
  display: flex;
  width: 990px;
  justify-content: center;
  align-items: center;
  height: 771px;
}

.login-form-container {
  height: 340px;
  width: 300px;
}

.picture-container {
  width: 380px;
  height: 354px;
  img {
    width: 380px;
    height: 342px;
    object-fit: scale-down;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  input {
    width: 100%;
    padding: 0px;
    height: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 5px 9px;
  }
}

.name-container {
  display: flex;
  justify-content: space-between;
  label:first-child {
    margin-right: 8px;
  }
  input {
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 5px 9px;
  }
}

.session-submit {
  background-color: #D32323;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  padding: 10px 13px;
  span {
    color: #FFFFFF;
  }
}

.signup-button {
  background: transparent;
  border-radius: 4px;
  border: 2px solid #fff;
  box-shadow: none;
  margin-top: -2px;
  padding: 7px 24px 8px;
  cursor: pointer;
}

.signup-button:hover {
  background: #fff;
  transition: all .6s;
  transition-property: background-color, background-position, background-size, border-color;
  .signup-link {
    background-color: #666;
  }
}

.login-form-wrapper {
  padding-right: 63px;
}

.picture-wrapper {
  padding-left: 12px;
  margin-top: -200px;
}

.main-footer-container {
  display: flex;
  background-color: rgb(242, 242, 242);
  justify-content: center;
  border-top: 1px solid #ccc;
  width: 100%;
}

.main-footer {
  display: flex;
  justify-content: center;
  width: 990px;
  height: 536px;
  background: url(https://s3-media0.fl.yelpcdn.com/assets/public/footer_cityscape.yji-573fa19c843556eac5a998fc6d1f80f8.png) no-repeat bottom;
}
.logo-container {
  display: flex;
  justify-content: center;
  height: 64px;
  width: 990px;
}

.logo {
  width: 120px;
  height: 64px;
  object-fit: cover;
}

.signup-errors {
  color: red;
  font-size: 14px;
}

.login-errors {
  color: red;
  font-size: 14px;
}



